<% navi "Articles" -%>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Translated Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article %></td>
        <td><%= article.translated_title %></td>
        <td><%= "#{article.source} to #{article.target}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Article', new_article_path, class: "btn btn-default" %>
