<% title @user.name -%>
<% navi "User" -%>

<h4><%= t 'collections.collected' %></h4>

<% @user.collections.each do |c| -%>
  <%= link_to c.article.translated_title, article_path(c.article) %><br />
<% end %>
