@import "bootstrap";

body {
    padding-top: 60px;
    padding-bottom: 20px;
}

.hr-point {
    border:none;
    border-top:dashed 1px #CCC;
    height:1px;
    color:#FFFFFF;
    margin: 0 6 0 6;
}

@import "social-share-button";
